:root {
  --primary-text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 14px;
  line-height: calc(24 / 14);

  letter-spacing: 0.03em;

  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style: none;
  text-decoration: none;
}
.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;

  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid red;
}

header {
  border-bottom: 1px solid #ececec;
  margin-bottom: 0;
}
.nav,
.links,
.contacts,
.header .container {
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: var(--title-color);
}

.link-current {
  color: var(--accent-color);
}
/* .logo */
.page-header .logo {
  margin-right: 93px;

  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.accent-black {
  color: var(--title-color);
}
/* .logo span {
  margin-left: 5px;
} */

.contacts a,
.links a {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  padding: 32px 0;
  display: inline-block;
  margin-right: 50px;

  text-decoration: none;
}
.links a {
  color: var(--title-color);
}
.contacts a {
  color: var(--primary-text-color);
}
.contacts li:last-child a,
.links li:last-child a {
  margin-right: 0;
}
.contacts a:hover,
.contacts a:focus,
.links a:hover,
.links a:focus {
  color: var(--accent-color);
}
.link-current link:hover,
.link-current link:focus,
.link-current link:active {
  color: blue;
}

/* Главная секция */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
}
/* Эффективные решения */
.hero-title {
  font-family: "Roboto" sans-serif;
  font-size: 44px;
  color: var(--primary-white-color);
  text-transform: uppercase;
  font-weight: 900;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-align: center;
  max-width: 650;
  margin-bottom: 30px;
}
/* Кнопка заказать услугу */
.hero-button {
  padding: 10px 32px;
  border-radius: 4px;
  margin: 0 auto;

  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: #2196f3;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: none;

  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background: #188ce8;
}

/* ОСОБЕННОСТИ */
.card-set {
  /* outline: 1px solid tomato; */
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;

  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}
.card-set > .item {
  outline: 1px solid teal;

  flex-basis: calc(100% / 4 - var(--card-set-gap));

  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}
.section-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-color);
}
.section-text {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/* ЧЕМ МЫ ЗАНИМАЕМСЯ 
НАША КОМАНДА*/

.title {
  font-family: inherit;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
}
/* НАША КОМАНДА */
.card-heading {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
}
.card-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: calc(19 / 16);

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/* ВТОРАЯ СТРАНИЦА */
/* Кнопки портфолио */
.button {
  font-family: Roboto;
  font-size: 16px;

  font-weight: 500;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  /* min-width: 73px; */
  color: var(--title-color);
  background-color: #f5f4fa;
  border: 1px solid transparent;
  cursor: pointer;
}
/* Главная кнопка (активная)*/

.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
/* ЗАГЛАВИЕ */
.title {
  color: var(--title-color);
  display: block;
  margin: auto 0;
  text-align: center;
}

.section-title {
  color: var(--title-color);
}
.text {
  color: #212121;
}
/* ПОРТФОЛИО КАРТОЧКИ */

.element {
  outline: 1px solid green;
}

.picture-content {
  padding: 30px;
}
.picture-heading {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);

  letter-spacing: 0.06em;

  color: var(--title-color);
}
.picture-text {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;

  color: var(--primary-text-color);

  margin-top: 10px;
}
.content {
  justify-content: center;
}
.picture {
  box-shadow: var(--card-shadow);
}

/* Подвал странички */

.page-footer {
  background-color: #2f303a;
  width: 1600px;
}
.logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;

  color: var(--accent-color);
}
.accent-white {
  color: var(--primary-white-color);
}
/* address {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  color: var(--primary-white-color);

  /* text-align: left; */
/* margin-bottom: 9px;
} */

.address-list {
  text-decoration: none;
  padding: 0px;
}

.list-item {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  color: var(--primary-white-color);

  /* text-align: left; */
  margin-bottom: 9px;
}
/* .list-item a {
  color: var(--primary-white-color);
  margin-bottom: 9px;
} */
.list-item .link {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.list-item .link:hover,
.list-item .link:focus {
  color: var(--accent-color);
}

/* .address {
  color: var(--primary-white-color);
  margin-bottom: 9px;
} */
