:root {
  --primary-text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --card-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);

}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  line-height: 1.5;
  }
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1170px;
  margin-left:  auto;
  margin-right: auto;

  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid red;
  
}

header {
  border-bottom: 1px solid #ececec;
  margin-bottom: 0;
}
.nav,
.links,
.contacts,
.header .container {
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: var(--title-color);
}
/* .logo */
.page-header .logo {
  margin-right: 93px;
  
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;

}
.color-black {
  color: var(--title-color);
}
/* .logo span {
  margin-left: 5px;
} */

.contacts a,
.links a {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--title-color);
  padding: 32px 0;
  display: inline-block;
  margin-right: 50px;
}

.contacts {
  color: var(--primary-text-color);
}
.contacts li:last-child a,
.links li:last-child a {
  margin-right: 0;
}
.contacts a:hover,
.contacts a:focus,
.links a:hover,
.links a:focus {
  color: var(--accent-color);
}


.hero {
  margin-top: 200px;
  padding: 200px, 0;
 
  background-color: #2f303a;
}
.hero-title {
  font-size: 44px;
  color: var(--primary-white-color);
  text-transform: uppercase;
  font-weight: 900;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-align: center;
  max-width: 650;
  margin-bottom: 30px;
}
.hero-button {
  padding: 10px 32px;
  border-radius: 4px;
  margin: 0 auto;
  margin-bottom: 200px;
  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: #2196f3;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: none;
  
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background: #188ce8;

}

/* CARD-SET */
.card-set {
  /* outline: 1px solid tomato; */
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;

   margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
  }
  .card-set> .item {
/* outline: 1px solid teal; */

flex-basis: calc(100% / 4 - var(--card-set-gap));

margin-left: var(--card-set-gap);
margin-top: var(--card-set-gap);
  }
.card-thumb {
  outline: 1px solid green;
}
.button {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  color: var(--title-color)
  background-color #F5F4FA;
  font-size: 16px;

  font-weight: 500;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  text-align: center;
  text-decoration: none;
}
.button-primary {
  color: var(--title-color);
  background-color: var(--accent-color);
}
/* ЗАГЛАВИЕ */
.title {
  color: var(--title-color);
  display: block;
  margin: auto 0;
  text-align: center;
}

.section-title {
  color: var(--title-color);
}
.text {
  color: #212121;
}
/* ПОРТФОЛИО КАРТОЧКИ */


/* .card-thumb {
  outline: 1px solid  red; */

.item {
  outline: 1px solid tomato;
}
.card-content {
 padding: 30px;
}
.card-text {
  margin-top: 10px;
}
.content {
  justify-content: center;
}
.card {
  box-shadow: var(--card-shadow);
}
/* Footer */

.page-footer {
  background-color: #2f303a;
}
.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  text-align: left;

  font-family: Oleo Script;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.03em;
  text-align: left;
}
.page-footer span {
  color: var(--primary-white-color);
  
}
address {
  color: var(--primary-white-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(14 / 24);
/* or 171% */
  text-align: left;

}
.link {
  color: #ffffff99;
}
.page-footer .logo {

font-family: "Raleway", sans-serif;
font-weight: bold;
font-size: 26px;
line-height: calc(31 / 26);
/* identical to box height */
margin-top: 60px;
letter-spacing: 0.03em;
color: #2196f3;
}
.address {
color: var(--primary-white-color);
}
/*  
  display: flex;
  align-items: center;
  
  
 
  
  
  